<!--  Footer -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <h4> Contactez nous </h4>
                <P><i class="fa fa-home" aria-hidden="true"></i> blvd du 20 mai , Douala </P>
                <P><i class="fa fa-envelope" aria-hidden="true"></i> info@certmedi.com </P>
                <P><i class="fa fa-phone" aria-hidden="true"></i> +237 777755533 </P>
                <P><i class="fa fa-globe" aria-hidden="true"></i> cert-medi.com </P>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4> A propos </h4>
                <P><i class="fa fa-square" aria-hidden="true"></i> A propos </P>
                <P><i class="fa fa-square" aria-hidden="true"></i> General Electric </P>


            </div>
            <div class="col-md-4 col-lg-4">
                <h4> Nous suivre </h4>
                <P><i class="social fa fa-facebook" aria-hidden="true"></i> Cert-Medi </P>
                <P><i class="social fa fa-whatsapp" aria-hidden="true"></i> +237 77 88 77 88 </P>
                <P><i class="social fa fa-linkedin" aria-hidden="true"></i> Cert-Medi </P>
            </div>

        </div>
    </div>
</footer>
<!-- end of footer -->