<section class="submenu">
    <div class="btn-group">

        <a href="sub-one">
            <button class="btn-primary " type="text ">Ingenerie Et Services</button>
        </a>
        <a href="sub-two">
            <button class="btn-primary " type="text ">Audit et Formation</button> 
        </a>
        <a href="sub-three">
            <button class="btn-primary " type="text ">Veille technologiques et Innovation</button>
        </a>
        <a href="sub-four">
            <button class="btn-primary " type="text ">Vente Du Materiel Biomedicale</button>
        </a>
    </div>
</section>