<!-- services -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <h2 class="service-heading"> 1. Installation </h2>
            <h4 class="service-subheading"> possiblement autre sous titre </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted text-justify "> certmedi : nous faissons dans les installation certmedi : nous faissons dans les installation certmedi : nous faissons dans les installation </p>
            </div>
            <div class="col-md-4">
                <img class="img img-responsive img-rounded" src="../assets/img/puzzle.jpeg">
            </div>
            <div class="col-md-4">
                <p class="text-muted text-justify"> certmedi : nous faissons dans les installation certmedi : nous faissons dans les installationcertmedi : nous faissons dans les installation </p>
            </div>
        </div>
        <hr class="liner">
        <div class="row">
            <h2 class="service-heading"> 2. maintenance </h2>
            <h4 class="service-subheading"> possiblement autre sous titre </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted text-justify"> certmedi : nous faissons dans les maintenance certmedi : nous faissons dans les maintenance certmedi : nous faissons dans les maintenance </p>
            </div>
            <div class="col-md-4">
                <img class="img img-responsive img-rounded" src="../assets/img/biomedical-services.png">
            </div>
            <div class="col-md-4">
                <p class="text-muted"> certmedi : nous faissons dans les maintenance certmedi : nous faissons dans les maintenance certmedi : nous faissons dans les maintenance </p>
            </div>
        </div>
        <hr class="liner">
        <div class="row">
            <h2 class="service-heading"> 3. formation </h2>
            <h4 class="service-subheading"> possiblement autre sous titre </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted"> certmedi : nous faissons dans les formation certmedi : nous faissons dans les formation certmedi : nous faissons dans les formation </p>
            </div>
            <div class="col-md-4">
                <img class="img img-responsive img-rounded" src="../assets/img/certmedi-formation.jpg">
            </div>
            <div class="col-md-4">
                <p class="text-muted"> certmedi : nous faissons dans les formation certmedi : nous faissons dans les formation certmedi : nous faissons dans les formation </p>
            </div>
        </div>
    </div>

</section>
<!-- end of services -->