<!-- navigation  -->
<nav class="navbar navbar-fixed-top" id="my-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand " href="#landingpage"><span><img src="../assets/img/cert-medi.png" class="img img-reponsive" height="90px" width="100px"></span></a>
            <button id="toggler" class="navbar-toggle  btn-primary navbar-toggle-right" type="button" data-target="#responsivebar" data-toggle="collapse" aria-controls="responsivebar" aria-expanded="false" aria-label="toggle naviagtion">
          Menu <span class="glyphicon glyphicon-list"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse " id="responsivebar">
            <ul class="nav navbar-nav navbar-right ">
                <li class="nav-item active"> <a href="#landingpage"> Acceuil </a> </li>
                <li class=" nav-item" dropdown>
                    <a dropdownToggle class="dropdown-toggle ">
                         Services <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" href="/produits">Nos produits</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="/services">Domaines</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="/conseils">Conseils de maintenance</a></li>
                    </ul>
                </li>
                <li class="nav-item"> <a href="#apropos"> A propos </a> </li>
                <li class="nav-item"> <a href="#contact"> Contact </a> </li>

            </ul>
        </div>

    </div>
</nav>
<!--end of navigation bar -->