/*  A propos section , about section */

.apropos {
    padding-top: 100px;
    height: 710px;
    display: block;
    background-image: url("../../assets/img/aboutCertmediBlue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

.apropos h3,
h2,
h1 {
    color: rgb(252, 253, 253);
    text-shadow: 5px 10px 10px rgb(22, 54, 90);
    font-weight: 450;
}

.apropos p {
    color: rgb(224, 221, 221);
    font-size: 20px;
    margin-bottom: 25px;
}

@media(max-width:767px) {
    /* about/apropos section */
}

@media (max-width: 992px) {
    .apropos {
        height: 100%;
    }
}


/*  contact section  */