<!-- section About-->
<section id="apropos" class="apropos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <h1> CERT-MEDI </h1>
                <h3> Le mellieur a votre portée </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 ">
                <h2> Qui sommes nous </h2>
                <p class="text-muted text-center"> CERT-MEDI est une entreprise qui exerce dans les domaines du biomedical. La vente, installation et maintenance du materiel biomedical sont nos specilaités les plus demandé. </p>
            </div>
            <div class="col-md-4" id="scanner">
                <img class="img img-reponsive img-circle" src="../assets/img/dentalCertmedi.jpeg" width="300" height="300" alt="certmedi-pub-picture">
            </div>
            <div class="col-md-4 ">
                <h2> Ils nous font confiance </h2>
                <p class="text-muted text-center"> Depuis 5 ans deja plusieurs hopitaux, clinics et medecins nous font confiance. Qu'attendez vous ? rejoinez nous </p>
            </div>
        </div>
    </div>
</section>

<!-- end section about -->