<section class="produits">
    <div class="container product-list">
        <div class="row">
            <div class="col-md-8">
                <h1> Appareil dentaire </h1>
                <h2> model wr 345 </h2>
                <hr>
                <p> Apres l'achat du materiel delicat, une bonne installationdoit suivre. notre equipe d'ingenieurs sont diposer a vous assiter pour cela. </p>
            </div>
            <div class="col-md-4">
                <img class="img img-reponsive img-rounded" src="../assets/img/dentalCertmedi.jpeg">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h1> scanner </h1>
                <h2> model 345 </h2>
                <hr>
                <p> ce scannaire a ete fabriquer en 2010 et ulisier pendant 4 ans sans avoir eu un probleme majeur </p>
            </div>
            <div class="col-md-4">
                <img class="img img-reponsive img-rounded" src="../assets/img/home.jpg">
            </div>
        </div>
        <hr>
        <div class="row describe">
            <div class="col-md-8 ">
                <h1> stethoscope </h1>
                <h2> model AE 345 </h2>
                <p> La formation du personel a l'utilisation dune materiel est un point necessaire. certmedi vous propose des formations pour votre personl de sante </p>
            </div>
            <div class="col-md-4">
                <img class="img img-reponsive img-rounded" src="../assets/img/stetos.jpg">
            </div>
        </div>
    </div>
</section>