<!-- Start service Area -->
<section class="submenuOne" id="service">

    <div class="container">
        <div class="row sub-item-header justify-content-center">
            <div class="col-md-12  text-center">
                <h2> Ingenerie Et Services</h2>
                <h3> Des services que nous somes fiere de vous rendre </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4> Installation</h4>
                    <p>
                        Nous vous aidons dans l'Installation de tout type de systeme conformement aux specification du fabricant.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>La Maintenance</h4>
                    <p>
                        En fonction de nos accord avec vous (prestation ponctuelle ou contractuelle), nous vous assitons dans la maintenance de votre materiel biomedicale
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Les Controles</h4>
                    <p>
                        De facon efficace et efficiente, nous vous accompagnons dans les controle de performance et qualite
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4> Assistance</h4>
                    <p>
                        Cert-Medi vous accompagne dans la maitrise doeuvre de vous projets d'investissement et l'organisation hospitaliers
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4>Service Apres Vente</h4>
                    <p>
                        Dans l'optique de vous procurez la mellieur service qui soit, notre service apres ventes s'occupe de tout vos besoin particuliier
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4> Resource pour l'Afrique</h4>
                    <p>
                        NOus intervenons aussi dans l'approvisation de resources locales pour les organismes humanitaires en destination de l'Afrique.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End service Area -->