<!-- team -->
<section id="team" class="team">
    <div class="container">
        <div class="row col-md-12 text-center">
            <h1 class="team-heading"> Notre formidable equipe</h1>
            <h3 class="team-sub-heading"> Nous aimerions travailler avec vous </h3>
        </div>
        <div class="row text-center" id="team-member">
            <div class="col-md-4 team-members">
                <img src="../assets/img/borel.png" class="img img-responsive img-circle" height="200px" width="200px">
                <h3 class="team-member-name"> mr. PASCAL YOUBISSI </h3>
                <h4 class="team-member-function"> Direccteur generale </h4>
            </div>
            <div class="col-md-4 " id="team-member">
                <img src="../assets/img/borel.png" class="img img-responsive img-circle" height="200px" width="200px">
                <h3 class="team-member-name"> MR. holman </h3>
                <h4 class="team-member-function"> engenieur en chef </h4>
            </div>
            <div class="col-md-4 team-members" id="team-member">
                <img src="../assets/img/borel.png" class="img img-responsive img-circle" height="200px" width="200px">
                <h3 class="team-member-name"> mr. suh frank </h3>
                <h4 class="team-member-function"> technicien superieur </h4>
            </div>
        </div>
    </div>
</section>
<!-- end of team -->