<carousel id="carousel">
    <slide>
        <img src="assets/img/certmedi-doctor.png" alt="First slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block btnn">
            <h3> Le meillieur du biomedical </h3>
            <button (click)="onclick()" class="btn btn-primary btn-lg">En savoir plus </button>
        </div>
    </slide>
    <slide>
        <img src="assets/img/certmedi-header.jpg" alt="Second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block btnn">
            <h3> Le meillieur du biomedical </h3>
            <button (click)="onclick()" class="btn btn-primary btn-lg">En savoir plus </button>
        </div>
    </slide>
    <slide>
        <img src="assets/img/aboutCertmedi.jpg" alt="Third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block  btnn">
            <h3> Le meillieur du biomedical </h3>
            <button (click)="onclick()" class="btn btn-primary btn-lg">En savoir plus </button>
        </div>
    </slide>
</carousel>
